* {
    font-family: Arial, Helvetica, sans-serif;
}
body{background-image: linear-gradient(to right, #2B4A6F,#393276,#256F5B,#2B4A6F)
    
}
p {
    text-align: justify;
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}
h1{
    color: #393276;
    text-align: center;
}
h2{
    color: #256F5B;
}